<a href="https://colab.research.google.com/github/afrin-afia/AIMSS_python_workshop_2023/blob/main/code/pythonLibraries_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Classification of iris flowers using Keras library
#load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

In [14]:
#load dataset
iris_dataframe= sns.load_dataset('iris')                                    #we could load the dataset from a local csv file/sklearn library also
iris_dataframe['species'].unique()
#iris_dataframe.info()
iris_dataframe= iris_dataframe.sample(frac=1)   #shuffle the data.

In [15]:
#preprocess data
#replace target values with numbers
iris_dataframe=iris_dataframe.replace(to_replace="setosa",value="1")
iris_dataframe=iris_dataframe.replace(to_replace="versicolor",value="2")
iris_dataframe=iris_dataframe.replace(to_replace="virginica",value="3")
iris_dataframe.head()

     sepal_length  sepal_width  petal_length  petal_width species
112           6.8          3.0           5.5          2.1       3
88            5.6          3.0           4.1          1.3       2
52            6.9          3.1           4.9          1.5       2
101           5.8          2.7           5.1          1.9       3
10            5.4          3.7           1.5          0.2       1

In [17]:
#seperate features (X) and outputs (Y)
Y= iris_dataframe['species']
X= iris_dataframe.drop(['species'], axis=1)

#1,2,3 do not have any meaning, they just represent three different classes. So, we should use one-hot encoding to represent classes
Y= to_categorical(Y)
#print(Y)

In [ ]:
#split data into train and test dataset